.main-nav {
  .main-nav-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .navbar-collapse.show {
    .dropdown-menu.show {
      margin-top: 15px;
    }
  }
}

#postTextarea {
  resize: none;
}

.full-post-container {
  h2 {
    padding-top: 4px;
  }

  .arrow {
    color: blue;
    font-size: 3rem;
    margin-right: 25px;
  }

  .back-to-posting {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }

  .full-post {
    .image-preview {
      height: 1000px;
    }
  }
}

.post {
  cursor: pointer;
  &:hover .card {
    background-color: #f8f9fa;
  }
  .username:hover {
    text-decoration: underline;
  }

  .card-header {
    display: flex;
    align-items: center;
  }

  .post-avatar {
    width: 45px;
    height: 45px;
    margin-right: 5px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .post-link {
    text-decoration: none;
    color: inherit;
  }

  .image-preview {
    width: 100%;
    height: 400px;
    background-image: url(https://source.unsplash.com/random);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }
}

.profile-page {
  .avatar-container {
    .overlay {
      width: 125px;
      height: 125px;
      position: relative;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 18px);
        left: calc(50% - 18px);
        width: 36px;
        height: 36px;
        opacity: 0.6;
        background-image: url(http://localhost/microblog/assets/images/icons/camera.svg);
        background-size: contain;
        background-position: center;
      }
    }

    .avatar {
      position: absolute;
      z-index: -2;
      top: 0;
      width: 125px;
      height: 125px;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }
  }
}

@media (min-width: 100px) and (max-width: 767.98px) {
  #postTextarea {
    height: 175px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #postTextarea {
    height: 125px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #postTextarea {
    height: 100px;
  }
}
