body {
  font-size: 1.1rem;
}

.main-nav .main-nav-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-nav .navbar-collapse.show .dropdown-menu.show {
  margin-top: 15px;
}

#postTextarea {
  resize: none;
}

.full-post-container h2 {
  padding-top: 4px;
}

.full-post-container .arrow {
  color: blue;
  font-size: 3rem;
  margin-right: 25px;
}

.full-post-container .back-to-posting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
}

.full-post-container .full-post .image-preview {
  height: 1000px;
}

.post-form .images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

.post-form .images-container .thumbnail {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  cursor: pointer;
}

.post-form .images-container .thumbnail .x-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  background-image: url(../../assets/images/icons/x-circle.svg);
  background-size: contain;
}

.post-form .images-container .thumbnail .x-button:hover {
  background-image: url(../../assets/images/icons/x-circle-gray.svg);
}

.post-form .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-form .buttons-container .submit-button {
  height: 38px;
  margin-right: 15px;
}

.post-form .buttons-container .add-image-button {
  width: 30px;
  height: 30px;
  background-image: url(../../assets/images/icons/images.svg);
  background-size: contain;
  cursor: pointer;
}

.post {
  cursor: pointer;
}

.post:hover .card,
.post:hover .card-header {
  background-color: #f8f9fa !important;
}

.post .username:hover {
  text-decoration: underline;
}

.post .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .card-header .post-info {
  margin-bottom: 0;
}

.post .post-avatar {
  width: 45px;
  height: 45px;
  margin-right: 5px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post .post-link {
  text-decoration: none;
  color: inherit;
}

.post .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 15px;
  overflow: hidden;
}

.post .images .image-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.profile-page .avatar-container .overlay {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.profile-page .avatar-container .overlay::after {
  content: "";
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px);
  width: 36px;
  height: 36px;
  opacity: 0.6;
  background-image: url(http://localhost/microblog/assets/images/icons/camera.svg);
  background-size: contain;
  background-position: center;
}

.profile-page .avatar-container .avatar {
  position: absolute;
  z-index: -2;
  top: 0;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

@media (min-width: 100px) and (max-width: 767.98px) {
  #postTextarea {
    height: 175px;
  }
  .post-form .images-container .thumbnail {
    -webkit-box-flex: auto;
        -ms-flex-positive: auto;
            flex-grow: auto;
    width: 50%;
    height: 200px;
  }
  .post .images .image-container {
    -webkit-box-flex: auto;
        -ms-flex-positive: auto;
            flex-grow: auto;
    width: 50%;
    height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #postTextarea {
    height: 125px;
  }
  .post-form .images-container .thumbnail {
    -webkit-box-flex: auto;
        -ms-flex-positive: auto;
            flex-grow: auto;
    width: 50%;
    height: 250px;
  }
  .post .images .image-container {
    -webkit-box-flex: auto;
        -ms-flex-positive: auto;
            flex-grow: auto;
    width: 50%;
    height: 250px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #postTextarea {
    height: 100px;
  }
  .post-form .images-container .thumbnail {
    -webkit-box-flex: auto;
        -ms-flex-positive: auto;
            flex-grow: auto;
    width: 50%;
    height: 250px;
  }
  .post .images .image-container {
    -webkit-box-flex: auto;
        -ms-flex-positive: auto;
            flex-grow: auto;
    width: 50%;
    height: 250px;
  }
}
/*# sourceMappingURL=style.css.map */