body {
  font-size: 1.1rem;
}
.main-nav {
  .main-nav-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .navbar-collapse.show {
    .dropdown-menu.show {
      margin-top: 15px;
    }
  }
}

#postTextarea {
  resize: none;
}

.full-post-container {
  h2 {
    padding-top: 4px;
  }

  .arrow {
    color: blue;
    font-size: 3rem;
    margin-right: 25px;
  }

  .back-to-posting {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }

  .full-post {
    &:hover .card,
    &:hover .card-header {
      background-color: inherit !important;
      cursor: auto !important;
    }
    .image-preview {
      height: 1000px;
    }
  }
}

.post-form {
  .images-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    .thumbnail {
      position: relative;
      flex-grow: 1;
      height: 300px;
      background-size: cover;
      background-position: center;
      border-radius: 15px;
      cursor: pointer;
      .x-button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        background-image: url(../../assets/images/icons/x-circle.svg);
        background-size: contain;
        &:hover {
          background-image: url(../../assets/images/icons/x-circle-gray.svg);
        }
      }
    }
  }
  .buttons-container {
    display: flex;
    align-items: center;
    .submit-button {
      height: 38px;
      margin-right: 15px;
    }
    .add-image-button {
      width: 30px;
      height: 30px;
      background-image: url(../../assets/images/icons/images.svg);
      background-size: contain;
      cursor: pointer;
    }
  }
}

.post {
  cursor: pointer;
  &:hover .card,
  &:hover .card-header {
    background-color: #f8f9fa !important;
  }
  .username:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .login {
    cursor: pointer;
  }

  .card-header {
    display: flex;
    align-items: center;
    .post-info {
      margin-bottom: 0;
    }
  }

  .post-avatar {
    width: 45px;
    height: 45px;
    margin-right: 5px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .post-link {
    text-decoration: none;
    color: inherit;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    overflow: hidden;
    .image-container {
      flex-grow: 1;
      height: 300px;
      background-size: cover;
      background-position: center;
      cursor: pointer;
    }
  }
}

.profile-page {
  .avatar-container {
    .overlay {
      width: 150px;
      height: 150px;
      position: relative;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 18px);
        left: calc(50% - 18px);
        width: 36px;
        height: 36px;
        opacity: 0.6;
        background-image: url(http://localhost/microblog/assets/images/icons/camera.svg);
        background-size: contain;
        background-position: center;
      }
    }

    .avatar {
      position: absolute;
      z-index: -2;
      top: 0;
      width: 150px;
      height: 150px;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }
  }
}

.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  img {
    display: block;
    position: relative;
    transition: margin 0.2s ease !important;
    z-index: -2;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    &.next-image {
      margin-left: 100vw;
    }
    &.previous-image {
      margin-right: 100vw;
    }
  }
  .ui-element {
    position: absolute;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    border-radius: 50%;

    &.close {
      top: 10px;
      left: 10px;
      background-image: url(../../assets/images/icons/x-circle.svg);
      &:hover {
        background-image: url(../../assets/images/icons/x-circle-gray.svg);
      }
    }
  }

  .previous.switch-image {
    left: 10px;
    background-image: url(../../assets/images/icons/arrow-left-circle-fill.svg);

    &:hover {
      background-image: url(../../assets/images/icons/arrow-left-circle-fill-gray.svg);
    }
  }
  .next.switch-image {
    right: 10px;
    background-image: url(../../assets/images/icons/arrow-right-circle-fill.svg);

    &:hover {
      background-image: url(../../assets/images/icons/arrow-right-circle-fill-gray.svg);
    }
  }
}

@media (min-width: 100px) and (max-width: 767.98px) {
  #postTextarea {
    height: 175px;
  }
  .post-form {
    .images-container {
      .thumbnail {
        flex-grow: auto;
        width: 50%;
        height: 200px;
      }
    }
  }

  .post {
    .images {
      .image-container {
        flex-grow: auto;
        width: 50%;
        height: 200px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #postTextarea {
    height: 125px;
  }
  .post-form {
    .images-container {
      .thumbnail {
        flex-grow: auto;
        width: 50%;
        height: 250px;
      }
    }
  }
  .post {
    .images {
      .image-container {
        flex-grow: auto;
        width: 50%;
        height: 250px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #postTextarea {
    height: 100px;
  }

  .post-form {
    .images-container {
      .thumbnail {
        flex-grow: auto;
        width: 50%;
        height: 250px;
      }
    }
  }
  .post {
    .images {
      .image-container {
        flex-grow: auto;
        width: 50%;
        height: 250px;
      }
    }
  }
}
